media

.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
__pycache__
venv/
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore

.docker/

Dockerfile.*

docker-compose.*.yml

__blobstorage__/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json

node_modules/
